<html>
	<head></head>
	<body ng-app="adminApp">
		<div id="wrapper">

			<div ng-controller="LoginController" class="login-container">
				<form id="loginForm" ng-hide="loginData.successfullyLogined">
					<input type="text" class="name" placeholder="Enter admin name" ng-model="loginData.name">
					<input type="text" class="password" placeholder="Enter password" ng-model="loginData.password">
					<p class="error" ng-show="loginData.loginFailed">Wrong name or password</p>
					<button class="submit" ng-click="login()">Login</button>
				</form>
			</div>

			<div ng-controller="NewBookController" ng-show="successfullyLogined">
				<form id="newBookForm">
					<label for="name">Name</label>
					<input type="text" class="name" id="name" ng-model="newBook.name">
					<label for="author">Author</label>
					<input type="text" class="author" id="author" ng-model="newBook.author">
					<label for="price">Price</label>
					<input type="text" class="price" id="price" ng-model="newBook.price">
					<input type="button" class="submit" ng-click="addBook()" ng-disabled="inputIsNotValid()" value="Add">
					<p class="success" ng-show="successfullyAdded">Book is successfully added</p>
				</form>
			</div>

		</div>
		<script src="scripts/admin.js"></script>
	</body>
</html>