@import './base.scss';

* {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#wrapper {
	background-color: $light-green-background-color;
	
	width: 100%
}

nav {
	ul {

		li {
			display: inline-block;
			padding: 5px;
			background-color: $green-background-color;
			border: 1px solid gray;
			font-weight: bolder
		}
	}
}
.login-container {
	@include horizontal-align();
	
	width: 20em;
}

#loginForm {
	background-color: $green-background-color;
	padding: 30px;

	input, button.submit {
		display: block;
		height: 2.5em;
		width: 10em;
		margin: 10px auto;
	}
}

.add-container {
	form #newBookForm{
		padding-top: 10px;
	}
	input {
		display: block;
		height: 2.5em;
		width: 10em;
		margin-top: 10px;
	}
}

table {
	border-collapse: collapse;

	thead tr {
    	font-size: 18px;
    	font-weight: bolder;
    	border: none;
	}

	tr {
		border-top: 1px solid $dark-gray-color;

		.remove {
			cursor: pointer;
			text-decoration: underline;
		}

		.remove:hover {
			text-decoration: none;
		}
	}

	td {
		padding: 5px;
	}

	input[type=number] {
		width: 70px;
	}
	
	button {
		color: white;
		background-color: $bright-green;
		padding: 3px;
	}
}

.order-container {
	// max-width: 700px;
	// min-width: 500px;
	width: 500px;
	padding-top: 30px;
	border-bottom: 2px solid black;

	.order-info {
		.total, .button {
			padding: 5px;
		}

		.total {
			float: left;
		}

		button {
			float: right;
		}
		
		&:after {
		    content: '';
		    display: table;
		    clear: both;
		}
	}
}
