@import './base.scss';

* {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#wrapper {
	background-color: $light-green-background-color;
	
	@include set-full-size();
}

.login-container {
	@include vertical-align();
	@include horizontal-align();
	
	width: 20em;
	top: 30%;
}

#loginForm {
	background-color: $green-background-color;
	padding: 30px;

	input, button.submit {
		display: block;
		height: 2.5em;
		width: 10em;
		margin: 10px auto;
	}
}

.add-container {
	#newBookForm {
		padding: 10px;
	}
	input {
		display: block;
		height: 2.5em;
		width: 10em;
		margin: 0px auto 10px auto;
	}
}

table {
	border-collapse: collapse;

	thead tr {
    	font-size: 18px;
    	font-weight: bolder;
    	border: none;
	}

	tr {
		border-top: 1px solid $dark-gray-color;

		.remove {
			cursor: pointer;
			text-decoration: underline;
		}

		.remove:hover {
			text-decoration: none;
		}
	}

	td {
		padding: 5px;
	}

	input[type=number] {
		width: 70px;
	}
	
	button {
		color: white;
		background-color: $bright-green;
		padding: 3px;
	}
}